{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'HomePage' %}"><i class="fa fa-film"></i>&nbsp;The Movies</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/web/account/{{ request.user.id }}">{{ request.user }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'HomePage' %}">Reset</a></li>
                            {% for category in categories %}
                                <li><a class="dropdown-item" href="?tags={{ category.id }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if request.user.id == 1 or request.user.id == 2 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ReadPackages' %}">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'UserAccountManagement' %}">Users</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn primary-btn-outline" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <div class="footer text-secondary text-center small">
        <hr>
        <span>Copyright All Rights Reserved</span>
        <br>
        <br>
    </div>
    <script src="https://kit.fontawesome.com/65fd6c747e.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
</body>

</html>